body {
	font: 28px/25px COCOMAT; color: #fff;
	background:url(images/bg3.jpg) left repeat;
}

.container {
   	position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 200px;
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: -100px;
    width: 100%;
}

input[type="text"]
{
    font: 20px/2px COCOMAT;
}

input[type="submit"]
{
    font: 15px/5px COCOMAT;
    width: 5%;
}